<div class="container-fluid py-5 bgImg">
    <h1 class="text-center text-white pb-4">Sign Up</h1>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 px-5">
        <form [formGroup] = "loginForm" (ngSubmit) = "getUserData()">
          <div class="row">
        <div class="form-group col">
          <input type="text" class="form-control" formControlName ="fname"  placeholder="First Name">
          <span class="text-danger" *ngIf = "fname.invalid && fname.touched ">Please enter First Name</span>
        </div>
        <div class="form-group col">
          <input type="text" class="form-control" formControlName = "lname" placeholder="Last Name">
          <span class="text-danger" *ngIf = "lname.invalid && lname.touched ">Please enter Last Name</span>
        </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName = "pass" placeholder="Password">
          <span class="text-danger" *ngIf = "pass.invalid && pass.touched ">Please enter Password</span>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" formControlName = "email" placeholder="Email">
          <span class="text-danger" *ngIf = "email.invalid && email.touched ">Please enter Email Id</span>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" formControlName = "phno" placeholder="Contact Number">
          <span class="text-danger" *ngIf = "phno.invalid && phno.touched ">Please enter Phone Number</span>
        </div>
        <div class="form-group">
           <textarea class="form-control" formControlName = "address" placeholder="Address"></textarea>
           <span class="text-danger" *ngIf = "address.invalid && address.touched ">Please enter Address</span>
        </div>
        <div class="form-group text-center mb-5">
           <button class="btn btn-dark">Submit</button>
        </div>
      </form>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>